a.ui-btn.hamburger {
  width: 6em;
  height: 6em;
  margin-top: 1.5em;
  margin-right: 2em;
  background-image: url('./assets/burger.png');
  background-position: center;
  background-size: contain;
}

a.ui-btn.hamburger:hover{
  background-color: #E25800;
}

.in-app-logo {
  padding-top: 1.8em;
  padding-left: 2em;
  width: 6em;
  height: 6em;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 134px;
}

.links ul {
  float: right;
  list-style: none;
  margin: 0;
}

.links ul a li {
  background-color: inherit;
  border-bottom: 1px solid grey;
  padding: 0.5em 2em 0.5em 0.5em;
}

.links ul a, .links ul a:visited {
  color: black;
  background-color: white;
  text-decoration: none;
}

.links ul a:active {
  background-color: #dddddd;
  text-decoration: none;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit {
  background-color: white;
  border-color: #E25800;
  color: #E25800;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    font-weight: 100;
}

@media (min-device-width: 1023px) {
  .links {
    font-size: 30px;
  }
}
