html {
  background: url('./assets/sunrise.jpg') no-repeat center center fixed;
  background-size: cover;
}


body {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0;
}


.main-content {
  margin-top: 8em;
  text-align: center;
  color: white;
  font-size: 25px;
}

.login-top {
  padding: 2em;
}

.about-us {
  background-color: #e1f5fe;
  padding: 2em;
}

/*Buttons*/

.login-button {
  background-color: #0484BC;
  color: white;
  cursor: pointer;
  font-size: 0.75em;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: none;
  padding: 0.75em 2.3em 0.75em 2.3em;
}

#login-button-arabic {
  margin-top: 1em;
  background-color: #0A0A9B;
  padding: 0.8em 2.6em 0.8em 2.6em;
}

.footer {
  background-color: transparent;
  padding: 1em;
}

.footer a {
  color: white;
  padding-bottom: 4em;
}
