html {
  background: url('./assets/sunrise.jpg') no-repeat center center fixed;
  background-size: cover;
}


body {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
  /*position: fixed;*/
}


h1 {
  font-size: 1.5em;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3 {
 font-weight:100;
}

.login-middle {
  margin-top: 2em;
  margin-bottom: 3em;
}


.main-content {
  margin-top: 3em;
  text-align: center;
  color: white;
  font-size: 1.3em;
}

.login-top {
  padding: 2em;
}

.about-us {
  background-color: #e1f5fe;
  padding: 2em;
}

/*Buttons*/

.login-button {
  background-color: #219DCC;
  color: white;
  cursor: pointer;
  font-size: 0.75em;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: none;
  padding: 0.75em 2.3em 0.75em 2.3em;
  font-weight: 100;
}

.login-button:focus {
  outline: 0 !important;
  border: 0.8px solid white;
}

#login-button-arabic {
  margin-top: 1em;
  background-color: #3A4F88;
  padding: 0.8em 2.6em 0.8em 2.6em;
}

.footer {
  background-color: transparent;
  padding: 1em;
}

.footer a {
  color: white;
  padding-bottom: 3em;
  font-weight: 100;
  font-size: 0.75em;
}
