a {
  text-decoration: none;
}

.individual {
  border: 1px solid black;
  min-height: 3em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.individual p, .individual h4{
  margin: 0;
}

.individual .skill {
  font-size: 0.8em;
}

.view-individual, .send-message {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 10px;
  font-size: 0.9em;
  padding: 0 0.75em;
}

.individual-details {
  border-bottom: 1px solid #FF9957;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.search, .profile, .activity, .about-us {
  padding: 2em;
  background-color: white;
  min-height: 100vh;
}

.search, .profile {
  padding-top: 0.5em;
}
