
.individual {
  border: 1px solid black;
  min-height: 3em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.individual p, .individual h4{
  margin: 0;
}

.individual .skill {
  font-size: 0.8em;
}

.view-individual {
  width: 50%;
  margin: auto;
  display: block;
}

.search, .profile, .activity {
  padding: 2em;
  background-color: #EFFAFF;
  min-height: 100vh;
}

.search, .profile {
  padding-top: 0.5em;
}
