html {
  font-size: 50px;
}

.signup {
  padding-left: 2em;
  padding-right: 2em;
}

.help > * {
  display: inline-block;
}

.help .translation {
  margin-right: 1.5em;
}

.location, .greeting, .skill-box {
  margin-bottom: 2em;
}

.location p {
  margin-right: 2em;
}

.location > * {
  display: inline-block;
}

.skill-box {
  width: 80%;
  border: solid 1px;
  height: 5em;
  margin: auto;
}

.translation > p:first-child {
  margin-bottom: 0;
}

.translation > p:last-child {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.skill-box {
  margin-bottom: 2em;
}

.save, .next, .search-button {
  width: 50%;
  float: right;
}

.save button, .next button, .search-button button {
  font-size: 1em;
  padding: 0em;
}

.disclaimer {
  font-size: 0.75em;
}

.select {
  font-size: 3em;
}

.location-select, .skills-select {
  vertical-align: top;
}

.skill {
  display: inline-block;
  background-color: lightblue;
  margin: 0.1em;
  border-radius: 0.4em;
  padding: 0 0.3em;
  z-index: 100;
}

.skill > * {
  display: inline-block;
}

.delete-skill {
  margin-bottom: 1em;
}

.phone > input {
  display: inline-block;
  width: 50%;
}

a.ui-btn.hamburger {
  width: 4em;
  height: 4em;
  margin-top: 2.25em;
  margin-right: 1em;
}

.burger-holder {
  width: 100%;
}

.burger-line {
  width: 100%;
  height: 0.6em;
  background-color: black;
  margin: 0.4em 0;
}

.burger-line:first-child {
  margin-top: 0.6em;
}
