html {
  font-size: 50px;
}

.signupTwo {
  padding-left: 2em;
  padding-right: 2em;
  background-color: #EFFAFF;
  height: 100vh;
  padding: 1em;
}

.help > * {
  display: inline-block;
}

.need-help, .location, .next {
  background-color: #EFFAFF;
  padding: 1em;
}

.can-help {
  background-color: #e1f5fe;
  padding: 1em;
}

.greeting, .skill-box {
  margin-bottom: 2em;
}

.location p {
  margin-right: 2em;
}

.location > * {
  display: inline-block;
}

.skill-box {
  width: 80%;
  border: solid 1px;
  min-height: 5em;
  margin: auto;
  margin-bottom: 2em;
}

.translation > p:first-child {
  margin-bottom: 0;
}

.translation > p:last-child {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.save button, .next button, .search-button button {
  font-size: 1em;
  margin-top: 2em;
  padding: 0em;
}

.disclaimer {
  margin-top: 0;
  font-size: 0.75em;
}

.select {
  font-size: 3em;
}

.location-select, .skills-select {
  vertical-align: top;
}

.location-select {
  width: 50%;
  margin: auto;
  display: block;
}

.skill {
  display: inline-block;
  background-color: #81d5fa;
  margin: 0.1em;
  border-radius: 0.4em;
  padding: 0 0.3em;
  z-index: 100;
}

.skill > * {
  display: inline-block;
}

.delete-skill {
  margin-bottom: 1em;
}

.phone > .ui-input-text.country-code {
  display: inline-block;
  width: 20%;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.phone > .ui-input-text.tel {
  display: inline-block;
  width: 70%;
  margin-bottom: 0;
}

.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn {
  background-color: #81d5fa;
}

/*Search Results Box*/

.individual {
  border: 1px solid black;
  min-height: 3em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.individual p, .individual h4{
  margin: 0;
}

.view-individual {
  width: 50%;
  margin: auto;
  display: block;
}

.hidden {
  display: none;
}

.search, .profile, .activity {
  padding: 2em;
  background-color: #EFFAFF;
  min-height: 100vh;
}

.search {
  padding-top: 0.5em;
}
