html {
  font-size: 50px;
}

.about-us {
  background-color: white;
  margin-top: 0;
  padding: 2em;
  font-weight: 200;
}

div.about-step {
  margin: 1.5em;
}

.about-step p {
  margin: 0;
  text-align: center;
}

.about-num {
  color: #E25800;
  text-align: center;
  font-size: 1em;
  border-bottom: 1px solid #E25800;
}

.join-family {
  text-align: center;
}

#get-started {
  background-color: #219DCC;
  color: white;
  cursor: pointer;
  font-size: 0.75em;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: none;
  padding: 0.75em 2.3em 0.75em 2.3em;
  font-weight: 100;
}

#get-started:focus {
  outline: 0 !important;
  border: 0.8px solid white;
}


.signupTwo {
  padding-left: 2em;
  padding-right: 2em;
  background-color: white;
  height: 100vh;
  padding: 1em;
}

.help > * {
  display: inline-block;
}

.need-help, .location, .next, .can-help {
  background-color: white;
  padding: 1em;
}

.greeting, .skill-box {
  margin-bottom: 2em;
}

.location p {
  margin-right: 2em;
}

.location > * {
  display: inline-block;
}

.skill-box {
  width: 80%;
  border: solid 1px;
  min-height: 5em;
  margin: auto;
  margin-bottom: 2em;
  border-color: transparent;
  text-shadow: none;
  padding: 0.5em;
  font-weight: 100;
}

.translation > p:first-child {
  margin-bottom: 0;
}

.translation > p:last-child {
  margin-top: 0;
  margin-bottom: 0.5em;
}

#save-button, #next-button, #search-button, #send-query, #send-message-button {
  font-size: 1em;
  font-weight: normal;
  margin-top: 2em;
  padding: 0.3em;
  background-color: #E25800;
  color: white;
  width: 60%;
  margin-left: 20%;
  text-shadow: none;
}

#view-individual {
  font-weight: normal;
  width: 80%;
  margin-top: 1em;
  text-shadow: none;
  color: white;
  background-color: #E25800;
  padding: 0.3em;
  font-size: 1em;
}

.disclaimer {
  margin-top: 0.30em;
  font-size: 0.6em;
  color: #E25800;
}

.select {
  font-size: 3em;
}

.location-select, .skills-select {
  vertical-align: top;
}

.location-select {
  width: 80%;
  margin: auto;
  display: block;
}

.location-select button {
  font-size: 0.75em;
  padding: 0.5em;
}

.skill {
  display: inline-block;
  background-color: #FE7D29;
  margin: 0.1em;
  border-radius: 0.4em;
  padding: 0 0.3em;
  z-index: 100;
  text-shadow: none;
}

.skill > * {
  display: inline-block;
}

.delete-skill {
  margin-bottom: 1em;
}

.phone > .ui-input-text.country-code {
  display: inline-block;
  width: 20%;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.phone > .ui-input-text.tel {
  display: inline-block;
  width: 70%;
  margin-bottom: 0;
}

.ui-page-theme-a {
  background-color: white;
}


.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn {
  /*background-color: white;*/
  background-color: #FF9957;
  font-weight: normal;
  text-shadow: none;
}

.hidden {
  display: none;
}

.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {
  background-color: #FF9957;
  font-weight: normal;
  text-shadow: none;
}

.alert {
  background-color: white;
  padding: 1em;
}

#phoneAlert-screen, #geoUnavailable-screen, #geoDenied-screen, #geoError-screen, #contactMessage-screen, #profileIncomplete-screen {
  background-color: black;
}

#getLocation {
  background-color: #FF9957;
  font-weight: normal;
  color: black;
  text-shadow: none;
}

.getLocation .translation p {
  text-align: center;
  padding: 0;
  margin: 0;
}
